
.button-1 {
	display: inline-block;
	height: 52px;
	margin: 0 20px 0 0;
    padding: 14px 20px 0 20px;
    background: #ffa456;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
}

.button-1:hover {
	background: #ffa456;
	opacity: 0.5;
	color: #fff;
}


.button-2 {
	display: inline-block;
	height: 52px;
	margin: 0;
    padding: 13px 20px 0 20px;
    border: 1px solid #aaa;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
}

.button-2:hover {
	border: 1px solid #aaa;
	opacity: 0.5;
	color: #fff;
}


.button-3 {
	display: inline-block;
	height: 52px;
	margin: 0;
    padding: 14px 20px 0 20px;
    background: #ffa456;
    font-size: 22px;
    font-weight: 600;
    line-height: 22px;
    color: #fff;
    text-align: left;
    text-transform: uppercase;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    vertical-align: middle;
}

.button-3:hover {
	background: #eee;
    color: #888;
}

